
<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #7aaed3;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="#">
        <img src="../../assets/images/logo.svg" alt="logo" width="50" height="50">My company
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
           
    </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Inicio</a>
            <a class="nav-item nav-link" href="#">Noticias </a>
            <a class="nav-item nav-link" href="#">Tendencias </a>
            <a class="nav-item nav-link" href="#">Preguntas frecuentes </a>
        </div> 
        
   
    <Button>Acceder</Button>
</nav> 